.button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
  }
  
  .button .buttonicon {
    height: 20px;
    margin-right: 12px;
  }
  
  .button .buttoncontentwrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .button .buttoncontents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto';
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }
  
  .button .buttonstate {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
  }
  
  .button:disabled .buttoncontents {
    opacity: 38%;
  }
  
  .button:disabled .buttonicon {
    opacity: 38%;
  }
  
  .button:not(:disabled):active .buttonstate, 
  .button:not(:disabled):focus .buttonstate {
    background-color: #303030;
    opacity: 12%;
    font-weight: 500;

  }
  
  .button:not(:disabled):hover .buttonstate {
    background-color: #303030;
    opacity: 8%;
    font-weight: 500;
  }
  